@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  background-image: url("/smear.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-blend-mode: darken;
  margin: 0 -0.2em;
  padding: 0.1em 0.2em;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px);
}
